# Auto detect text files and perform LF normalization
* text=auto

*.dart linguist-detectable=true

*.java linguist-detectable=false

*.js linguist-detectable=false

*.html linguist-detectable=false

*.xml linguist-detectable=false

*.c++ linguist-detectable=false
